header {
    
   
  }

header h1{
    margin: 10px;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    color: black;
    background-color: rgb(85, 183, 201);
}
 #myimg{

    width: 200px;
    height: 200px;
    margin-left:20px;
    
   
} 

.p1 {
    text-align: center;
}